<div style="display: flex; justify-content: center; align-items: center;">
<p align="center">
<img src="../Imagens/Capa_codigo.jpg" style="width:250px;height:250px" alt='imagem do daniel'>
</p>

<div style="margin-left: 20px;">
<h1 style="font-family: times new roman;">DreamCoders</h1>
<p style="margin-bottom: 5px;">Trabalho Final de Redes Neurais</p>
<p style="margin-bottom: 5px;">INTEGRANTES: Eric Leandro e Samuel Araujo </p>
<p style="margin-bottom: 5px;">DISCIPLINA: Redes Neurais e Algoritmos Gen√©ticos</p>
<p style="margin-bottom: 5px;">MESTRE: Daniel Cassar</p>

</div>

## **Bibliotecas**

In [15]:
'''IMPORTS'''

import pandas as pd
import statistics as st
import random as rd

## **Manipulando dados**

In [16]:
'''Pegando os dados'''

# Carregando o arquivo CSV
Materiais = pd.read_csv("../Dataset/Materiais.csv")

# Transformando o dataset em um Dataframe pandas
df = pd.DataFrame(Materiais)

# Mostrando o dataset
display(df)

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN
3,ANSI,1C758F8714AC4E0D9BD8D8AE1625AECD,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN
4,ANSI,DCE10036FC1946FC8C9108D598D116AD,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,512A80EC21EA416BA2725B38BA8096EF,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0
1548,JIS,38526441BA8741CA979DBF870D0B8A9B,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0
1549,JIS,CAC03D7EB1AA45E68EFF92A2EF4C3D9B,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0
1550,JIS,45C82A36EC644F8BB6170A99ED819B62,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0
1551,JIS,BC74F870412F4DDBADDEF1063C1C079F,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0

In [17]:
'''Tratando dados'''

# Retirando colunas desinteressantes
df = df.drop(['Std', 'ID', 'Material', 'Heat treatment', 'A5', 'Bhn', 'pH', 'Desc', 'HV', 'mu'], axis=1)

# Retirando linhas sem bons valores
df_limpo = df.loc[(df['Sy'].str.endswith('x') == False)]

# Convertendo str em int
df_limpo['Sy'] = df_limpo['Sy'].astype(int)

# Reajustando os index
df_limpo = df_limpo.reset_index(drop=True)

display(df_limpo)

C:\Users\eric23014\AppData\Local\Temp\ipykernel_16316\2101853830.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo['Sy'] = df_limpo['Sy'].astype(int)

       Su   Sy       E      G    Ro
0     421  314  207000  79000  7860
1     424  324  207000  79000  7860
2     386  284  207000  79000  7860
3     448  331  207000  79000  7860
4     441  346  207000  79000  7860
...   ...  ...     ...    ...   ...
1539  600  370  169000  70000  7160
1540  700  420  169000  70000  7160
1541  800  480  169000  70000  7160
1542  400  180  160000  64000  7160
1543  500  260  160000  64000  7160

[1544 rows x 5 columns]

## **Algoritmo genetico**

In [25]:
su = []
su.append((max(df_limpo['Su'])))
su.append((min(df_limpo['Su'])))
sy = []
sy.append(max(df_limpo['Sy']))
sy.append(min(df_limpo['Sy']))
e = []
e.append((max(df_limpo['E'])))
e.append((min(df_limpo['E'])))
g = []
g.append((max(df_limpo['G'])))
g.append((min(df_limpo['G'])))
ro = []
ro.append((max(df_limpo['Ro'])))
ro.append((min(df_limpo['Ro'])))
min_max = [su, sy, e, g, ro]

In [26]:
# Fun√ß√£o de avalia√ß√£o
def avaliacao(individuo):
  return (individuo[0]/individuo[4])*3 + (individuo[1]/individuo[4])*2 + (individuo[2]/individuo[4])*2 + (individuo[3]/individuo[4])*1.5 - (individuo[4]/individuo[4])*2

In [27]:
val = []

for i in range(len(df_limpo)):
  val.append(avaliacao(df_limpo.loc[i].tolist()))
limite  = max(val)

In [28]:
print(limite)

192.66836861768368

In [29]:
num_genes = 5
crossover_rate = 0.7
mutation_rate = 0.05
population_size = 100
num_generations = 5

# Fun√ß√£o de cria√ß√£o da popula√ß√£o inicial
def criando_individuo():
  Su = rd.randint(su[1], su[0])
  Sy = rd.randint(sy[1], sy[0])
  E = rd.randint(e[1], e[0])
  G = rd.randint(g[1], g[0])
  Ro = rd.randint(ro[1], ro[0])

  individuo = [Su, Sy, E, G, Ro]

  if avaliacao(individuo) < limite:
    return individuo
  else:
    return criando_individuo()

def criando_populacao(size):
  return [criando_individuo() for _ in range(size)]

# Fun√ß√£o de crossover (dois pontos)
def crossover(parent1, parent2):
  if rd.random() < crossover_rate:
    point1 = rd.randint(1, num_genes - 2)
    point2 = rd.randint(point1, num_genes - 1)
    child1 = parent1[:point1] + parent2[point1:point2] + parent1[point2:]
    child2 = parent2[:point1] + parent1[point1:point2] + parent2[point2:]
    validacao1 = avaliacao(child1)
    validacao2 = avaliacao(child2)
    if validacao1 > limite or validacao2 > limite:
      return crossover(parent1, parent2)
    else:
      return child1, child2
  else:
    return parent1, parent2

# Fun√ß√£o de muta√ß√£o (flip bit)
def mutacao(individual):
  mutante = individual
  for i in range(num_genes):
    if rd.random() < mutation_rate:
      mutante[i] = rd.randint(min_max[i][1], min_max[i][0])
  if avaliacao(mutante) > limite:
      mutacao(individual)
  else:
    individual = mutante


# Fun√ß√£o de sele√ß√£o dos pais (torneio)
def selecao_de_pais(population, k=3):
  selected = []
  for _ in range(len(population)):
    tournament = rd.sample(population, k)
    best = max(tournament, key=avaliacao)
    selected.append(best)
  return selected

# Fun√ß√£o principal do algoritmo gen√©tico
def genetic_algorithm():
  population = criando_populacao(population_size)

  for generation in range(num_generations):
    # Avaliar a popula√ß√£o
    population = sorted(population, key=avaliacao, reverse=True)

    # Sele√ß√£o
    selected_parents = selecao_de_pais(population)

    # Crossover
    next_generation = []
    for i in range(0, population_size, 2):
      parent1 = selected_parents[i]
      parent2 = selected_parents[i + 1]
      child1, child2 = crossover(parent1, parent2)
      next_generation.extend([child1, child2])

    # Muta√ß√£o
    for individual in next_generation:
      mutacao(individual)

    # Substitui√ß√£o
    population = next_generation


  # Obter o melhor indiv√≠duo
  last_population = population
  best_individual = max(population, key=avaliacao)
  best_value = avaliacao(best_individual)
  return best_value, best_individual, last_population

In [30]:
x, y, z = genetic_algorithm()

In [24]:
print(x)
print(y)
print(z)

192.37618821292776
[132, 94, 143909, 625667, 6312]
[[132, 601, 116413, 625667, 6312], [1404, 1135, 116413, 625667, 6091], [132, 1004, 214317, 625667, 8247], [1745, 94, 195892, 615757, 7103], [1404, 505, 103896, 625667, 6091], [1404, 629, 103896, 625667, 6091], [1404, 505, 103896, 625667, 6091], [1404, 629, 103896, 625667, 6091], [1404, 1985, 148025, 595420, 6930], [1248, 1138, 82919, 264919, 3045], [1404, 1884, 138417, 595420, 6091], [1404, 1884, 138417, 595420, 6091], [1811, 343, 107263, 702718, 7274], [1745, 1004, 195892, 615757, 7103], [1404, 1985, 148025, 595420, 6930], [1003, 1344, 82919, 135581, 3045], [1989, 893, 103896, 625667, 6091], [1404, 629, 103896, 626964, 6091], [1404, 1884, 116413, 626964, 6091], [1404, 1884, 103896, 369959, 6091], [1404, 1884, 138417, 595420, 6091], [179, 585, 134627, 490773, 5449], [1813, 1884, 116413, 625667, 6091], [1248, 1138, 82919, 264919, 3045], [1811, 1053, 143909, 702718, 7274], [132, 1053, 140000, 595420, 6312], [1404, 1053, 134627, 595420, 6091], [132, 1884, 138417, 595420, 6312], [1404, 1891, 103896, 626964, 6091], [1404, 1985, 148025, 595420, 6930], [179, 359, 134627, 490773, 5449], [1404, 1985, 148025, 595420, 6930], [179, 585, 134627, 490773, 5449], [1989, 1884, 103896, 760245, 8249], [1989, 1884, 103896, 626964, 6091], [132, 94, 116413, 625667, 6312], [76, 440, 201260, 244724, 5977], [1404, 1884, 138417, 595420, 6091], [1404, 1884, 103896, 238077, 6091], [1989, 1884, 138417, 595420, 6091], [1404, 1884, 138417, 595420, 6091], [1404, 629, 103896, 625667, 6245], [1404, 1135, 116413, 543438, 6091], [637, 1884, 116413, 625667, 6312], [1404, 585, 138417, 595420, 6091], [179, 1884, 134627, 490773, 5449], [1404, 1891, 103896, 626964, 6091], [1546, 1627, 164244, 634435, 6838], [1404, 505, 103896, 625667, 6091], [1404, 1884, 138417, 595420, 6091], [1404, 1884, 103149, 626964, 6091], [1404, 1884, 138417, 595420, 6091], [1404, 713, 117159, 595420, 6091], [1404, 1884, 138417, 595420, 6091], [102, 343, 100910, 737739, 7274], [1404, 1985, 148025, 595420, 6930], [1003, 1344, 82919, 135581, 3045], [1404, 1985, 148025, 595420, 6930], [1404, 505, 103896, 595420, 6091], [1059, 1053, 140000, 625667, 8237], [179, 1884, 134627, 490773, 5449], [883, 1884, 195892, 762403, 8358], [1404, 629, 103896, 625667, 6091], [132, 94, 143909, 625667, 6312], [1003, 1344, 82919, 135581, 3045], [1404, 1135, 116413, 625667, 6091], [1745, 1004, 195892, 615757, 7103], [1989, 1884, 103896, 760245, 8249], [1989, 1884, 103896, 760245, 8249], [1404, 994, 116073, 590093, 6091], [1404, 1884, 116073, 590093, 6091], [1989, 1884, 103896, 760245, 8249], [1404, 1884, 138417, 595420, 6091], [1404, 1884, 138417, 595420, 6091], [132, 1053, 140000, 595420, 6312], [1003, 1344, 82919, 135581, 3045], [1423, 1631, 116413, 511882, 5211], [1404, 1884, 138417, 173306, 6091], [1404, 1985, 148025, 595420, 6930], [1813, 1884, 116413, 625667, 6091], [1404, 1884, 103149, 626964, 6091], [1003, 1344, 82919, 135581, 3045], [1989, 1884, 103896, 625667, 6091], [132, 94, 116073, 626964, 6312], [1404, 1884, 138417, 595420, 6091], [1404, 1135, 116413, 625667, 6091], [1989, 1884, 103896, 760245, 8249], [1003, 1344, 82919, 135581, 3045], [304, 779, 180924, 324348, 5779], [1861, 1986, 195892, 762403, 8358], [132, 94, 103896, 626964, 6312], [1813, 1884, 116413, 625667, 6091], [1404, 1884, 138417, 595420, 6091], [1404, 1884, 117159, 595420, 6091], [1811, 343, 143909, 702718, 7274], [1404, 505, 103896, 625667, 6091], [132, 343, 99310, 595420, 6312], [1404, 1884, 138417, 541014, 6091], [1404, 585, 138417, 595420, 6091], [179, 1884, 134627, 490773, 5449]]