<div style="display: flex; justify-content: center; align-items: center;">
<p align="center">
<img src="../Imagens/Capa_codigo.jpg" style="width:250px;height:250px" alt='imagem do daniel'>
</p>

<div style="margin-left: 20px;">
<h1 style="font-family: times new roman;">DreamCoders</h1>
<p style="margin-bottom: 5px;">Trabalho Final de Redes Neurais</p>
<p style="margin-bottom: 5px;">INTEGRANTES: Eric Leandro e Samuel Araujo </p>
<p style="margin-bottom: 5px;">DISCIPLINA: Redes Neurais e Algoritmos Genéticos</p>
<p style="margin-bottom: 5px;">MESTRE: Daniel Cassar</p>

</div>

## **Bibliotecas**

In [13]:
'''IMPORTS'''

import pandas as pd
import statistics as st
import random as rd

In [14]:
'''Funções'''
def distancia_manhattan(populacao, df):
    """
    Calcula a distância de Manhattan entre cada indivíduo da população e cada linha do DataFrame.

    Parâmetros:
    populacao (list): Lista de indivíduos da última população.
    df (DataFrame): DataFrame contendo os dados originais.

    Retorna:
    list: Lista de listas, onde cada sub-lista contém as distâncias de Manhattan de um indivíduo para cada linha do DataFrame.
    """
    distancias = []

    # Itera sobre cada indivíduo na população
    for individuo in populacao:
        distancias_individuo = []

        # Itera sobre cada linha do DataFrame
        for i in range(len(df)):
            # Converte a linha i do DataFrame para uma lista
            linha = df.loc[i].tolist()
            
            # Calcula a distância de Manhattan
            distancia = sum(abs(individuo[j] - linha[j]) for j in range(len(individuo)))
            distancias_individuo.append(distancia)

        distancias.append(distancias_individuo)

    return distancias

## **Manipulando dados**

In [15]:
'''Pegando os dados'''

# Carregando o arquivo CSV
Materiais = pd.read_csv("../Dataset/Materiais.csv")

# Transformando o dataset em um Dataframe pandas
df = pd.DataFrame(Materiais)

# Mostrando o dataset
display(df)

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.30,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.30,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.30,7860,NaN,NaN,NaN
3,ANSI,1C758F8714AC4E0D9BD8D8AE1625AECD,Steel SAE 1020,as-rolled,448,331,36.0,143.0,207000,79000,0.30,7860,NaN,NaN,NaN
4,ANSI,DCE10036FC1946FC8C9108D598D116AD,Steel SAE 1020,normalized,441,346,35.8,131.0,207000,79000,0.30,7860,550.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,JIS,512A80EC21EA416BA2725B38BA8096EF,Nodular cast iron,NaN,600,370,NaN,NaN,169000,70000,0.20,7160,480.0,Nodular cast iron,210.0
1548,JIS,38526441BA8741CA979DBF870D0B8A9B,Nodular cast iron,NaN,700,420,NaN,NaN,169000,70000,0.20,7160,560.0,Nodular cast iron,230.0
1549,JIS,CAC03D7EB1AA45E68EFF92A2EF4C3D9B,Nodular cast iron,NaN,800,480,NaN,NaN,169000,70000,0.20,7160,600.0,Nodular cast iron,240.0
1550,JIS,45C82A36EC644F8BB6170A99ED819B62,Malleable cast iron,NaN,400,180,4.0,NaN,160000,64000,0.27,7160,300.0,Malleable cast iron,220.0
1551,JIS,BC74F870412F4DDBADDEF1063C1C079F,Malleable cast iron,NaN,500,260,4.0,NaN,160000,64000,0.27,7160,370.0,Malleable cast iron,230.0

In [16]:

'''Tratando dados'''

# Retirando colunas desinteressantes
df = df.drop(['Std', 'ID', 'Material', 'Heat treatment', 'A5', 'Bhn', 'pH', 'Desc', 'HV', 'mu'], axis=1)

# Retirando linhas sem bons valores
df_limpo = df.loc[(df['Sy'].str.endswith('x') == False)]

# Convertendo str em int
df_limpo['Sy'] = df_limpo['Sy'].astype(int)

# Reajustando os index
df_limpo = df_limpo.reset_index(drop=True)

# Mostrando o dataset
display(df_limpo)

C:\Users\eric23014\AppData\Local\Temp\ipykernel_13080\2449769712.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo['Sy'] = df_limpo['Sy'].astype(int)

       Su   Sy       E      G    Ro
0     421  314  207000  79000  7860
1     424  324  207000  79000  7860
2     386  284  207000  79000  7860
3     448  331  207000  79000  7860
4     441  346  207000  79000  7860
...   ...  ...     ...    ...   ...
1539  600  370  169000  70000  7160
1540  700  420  169000  70000  7160
1541  800  480  169000  70000  7160
1542  400  180  160000  64000  7160
1543  500  260  160000  64000  7160

[1544 rows x 5 columns]

In [17]:
'''Criando uma matriz para o dataset'''

matriz = []
for i in range(len(df_limpo)):
    # Converte a linha i do DataFrame para uma lista
    linha = df_limpo.loc[i].tolist()
    
    # Adiciona a linha na matriz
    matriz.append(linha)

## **Algoritmo genetico**

In [18]:
'''Definindo limites'''

# Inicialização de listas para armazenar os valores máximos e mínimos
su = []
sy = []
e = []
g = []
ro = []

# Coletando valores máximos e mínimos da coluna 'Su'
su.append((max(df_limpo['Su'])))  # Adiciona o valor máximo da coluna 'Su' à lista 'su'
su.append((min(df_limpo['Su'])))  # Adiciona o valor mínimo da coluna 'Su' à lista 'su'

# Coletando valores máximos e mínimos da coluna 'Sy'
sy.append(max(df_limpo['Sy']))  # Adiciona o valor máximo da coluna 'Sy' à lista 'sy'
sy.append(min(df_limpo['Sy']))  # Adiciona o valor mínimo da coluna 'Sy' à lista 'sy'

# Coletando valores máximos e mínimos da coluna 'E'
e.append((max(df_limpo['E'])))  # Adiciona o valor máximo da coluna 'E' à lista 'e'
e.append((min(df_limpo['E'])))  # Adiciona o valor mínimo da coluna 'E' à lista 'e'

# Coletando valores máximos e mínimos da coluna 'G'
g.append((max(df_limpo['G'])))  # Adiciona o valor máximo da coluna 'G' à lista 'g'
g.append((min(df_limpo['G'])))  # Adiciona o valor mínimo da coluna 'G' à lista 'g'

# Coletando valores máximos e mínimos da coluna 'Ro'
ro.append((max(df_limpo['Ro'])))  # Adiciona o valor máximo da coluna 'Ro' à lista 'ro'
ro.append((min(df_limpo['Ro'])))  # Adiciona o valor mínimo da coluna 'Ro' à lista 'ro'

# Combinando todas as listas de valores máximos e mínimos em uma lista única
min_max = [su, sy, e, g, ro]

In [19]:
# Função de avaliação para um indivíduo 
def avaliacao(individuo):
    """
    Avalia a aptidão de um indivíduo baseado na formula acima.

    Parâmetros:
    individuo (list): Uma lista de valores representando um indivíduo.

    Retorna:
    float: O valor da aptidão calculada para o indivíduo.
    """
    # Calcula o termo para o primeiro gene (individuo[0]), normalizado pelo quinto gene (densidade), multiplicado pelo peso 3
    termo1 = (individuo[0] / individuo[4]) * 3
    
    # Calcula o termo para o segundo gene (individuo[1]), normalizado pelo quinto gene (densidade), multiplicado pelo peso 2
    termo2 = (individuo[1] / individuo[4]) * 2
    
    # Calcula o termo para o terceiro gene (individuo[2]), normalizado pelo quinto gene (densidade), multiplicado pelo peso 2
    termo3 = (individuo[2] / individuo[4]) * 2
    
    # Calcula o termo para o quarto gene (individuo[3]), normalizado pelo quinto gene (densidade), multiplicado pelo peso 1.5
    termo4 = (individuo[3] / individuo[4]) * 1.5
    
    # Calcula o termo para o quinto gene (densidade), normalizado pelo peso ele mesmo, multiplicado pelo peso -2
    termo5 = (individuo[4] / individuo[4]) * -2
    
    # Soma todos os termos para calcular a aptidão total do indivíduo
    aptidao = termo1 + termo2 + termo3 + termo4 + termo5
    
    return aptidao

In [20]:
# Lista para armazenar os valores de aptidão
val = []

# Itera sobre todas as linhas do DataFrame df_limpo
for i in range(len(df_limpo)):
    # Converte a linha i do DataFrame para uma lista
    individuo = df_limpo.loc[i].tolist()
    # Avalia a aptidão do indivíduo e adiciona o valor à lista val
    val.append(avaliacao(individuo))

# Determina o valor máximo de aptidão na lista val
limite = max(val)

# Mostra o valor limite
print(limite)

192.66836861768368

In [21]:
'''Algoritmo Genetico'''

# Parâmetros do algoritmo genético
num_genes = 5
crossover_rate = 0.7
mutation_rate = 0.05
population_size = 100
num_generations = 5

# Função de criação da população inicial
def criando_individuo():
    """
    Cria um indivíduo com genes aleatórios dentro dos intervalos especificados.
    
    Retorna:
    list: Lista representando um indivíduo.
    """
    Su = rd.randint(su[1], su[0])
    Sy = rd.randint(sy[1], sy[0])
    E = rd.randint(e[1], e[0])
    G = rd.randint(g[1], g[0])
    Ro = rd.randint(ro[1], ro[0])
    individuo = [Su, Sy, E, G, Ro]

    # Valida os individuos gerados
    if avaliacao(individuo) < limite:
        return individuo
    else:
        return criando_individuo() # Repetir a criação se o indivíduo não atender ao critério de avaliação

def criando_populacao(size):
    """
    Cria uma população de indivíduos.
    
    Parâmetros:
    size (int): O tamanho da população.

    Retorna:
    list: Lista de indivíduos representando a população inicial.
    """
    return [criando_individuo() for _ in range(size)]

# Função de crossover (dois pontos)
def crossover(parent1, parent2):
    """
    Realiza o crossover de dois pontos entre dois pais para gerar dois filhos.
    
    Parâmetros:
    parent1 (list): Pai.
    parent2 (list): Mãe.

    Retorna:
    tuple: Dois filhos resultantes do crossover.
    """
    if rd.random() < crossover_rate:
        point1 = rd.randint(1, num_genes - 2)
        point2 = rd.randint(point1, num_genes - 1)
        child1 = parent1[:point1] + parent2[point1:point2] + parent1[point2:]
        child2 = parent2[:point1] + parent1[point1:point2] + parent2[point2:]
        
        # Valida os filhos gerados
        if avaliacao(child1) > limite or avaliacao(child2) > limite:
            return crossover(parent1, parent2)  # Repetir o crossover se a avaliação não for adequada
        else:
            return child1, child2
    else:
        return parent1, parent2

# Função de mutação (flip bit)
def mutacao(individual):
    """
    Realiza a mutação em um indivíduo.
    
    Parâmetros:
    individual (list): O indivíduo a ser mutado.
    """
    mutante = individual[:]
    for i in range(num_genes):
        if rd.random() < mutation_rate:
            mutante[i] = rd.randint(min_max[i][1], min_max[i][0])
    
    # Validar o indivíduo mutado
    if avaliacao(mutante) > limite:
        mutacao(individual)  # Repetir a mutação se a avaliação não for adequada
    else:
        individual[:] = mutante

# Função de seleção dos pais (torneio)
def selecao_de_pais(population, k=3):
    """
    Seleciona pais usando o método de torneio.
    
    Parâmetros:
    population (list): A população atual.
    k (int): O tamanho do torneio.

    Retorna:
    list: Lista de pais selecionados.
    """
    selected = []
    for _ in range(len(population)):
        tournament = rd.sample(population, k)
        best = max(tournament, key=avaliacao)
        selected.append(best)
    return selected

# Função principal do algoritmo genético
def genetic_algorithm():
    """
    Executa o algoritmo genético para otimizar a população.

    Retorna:
    tuple: O melhor valor de aptidão, o melhor indivíduo e a última população.
    """
    population = criando_populacao(population_size)

    for generation in range(num_generations):
        # Avaliar a população
        population = sorted(population, key=avaliacao, reverse=True)

        # Seleção
        selected_parents = selecao_de_pais(population)

        # Crossover
        next_generation = []
        for i in range(0, population_size, 2):
            parent1 = selected_parents[i]
            parent2 = selected_parents[i + 1]
            child1, child2 = crossover(parent1, parent2)
            next_generation.extend([child1, child2])

        # Mutação
        for individual in next_generation:
            mutacao(individual)

        # Substituição
        population = next_generation

    # Obter o melhor indivíduo
    last_population = population
    best_individual = max(population, key=avaliacao)
    best_value = avaliacao(best_individual)
    return best_value, best_individual, last_population

In [22]:
'''Comparando as dados gerados pelo algoritmo genetico e o dataset'''

# Comparando com a última população gerada pelo algoritmo genético
best_value, best_individual, last_population = genetic_algorithm()
distancias_algoritmo = distancia_manhattan(last_population, df_limpo)
distancias_entre_si = distancia_manhattan(matriz, df_limpo)

# Exibindo as distâncias de Manhattan entre o dataset e os dados da matriz
for i, dists in enumerate(distancias_algoritmo):
    print(f"A menor distância do indivíduo {i} foi {min(dists)}")
    
# Pegando os menores valores de distância dentro do proprio dataset
valores_distancias = []
for i, dists in enumerate(distancias_algoritmo):
    valores_distancias.append(min(dists))
    
print('Análise dos valores internos do dataset')
print(f'Média:{st.mean(valores_distancias)}')
print(f'Desvio padrão:{st.pstdev(valores_distancias)}')
print(f'Moda:{st.mode(valores_distancias)}')
print(f'Mediana:{st.median(valores_distancias)}')
print(f'Máximo:{min(valores_distancias)}')
print(f'Minimo:{max(valores_distancias)}')

A menor distância do indivíduo 0 foi 254902
A menor distância do indivíduo 1 foi 115972
A menor distância do indivíduo 2 foi 295686
A menor distância do indivíduo 3 foi 115708
A menor distância do indivíduo 4 foi 243976
A menor distância do indivíduo 5 foi 116031
A menor distância do indivíduo 6 foi 113727
A menor distância do indivíduo 7 foi 294785
A menor distância do indivíduo 8 foi 116944
A menor distância do indivíduo 9 foi 112755
A menor distância do indivíduo 10 foi 295644
A menor distância do indivíduo 11 foi 295188
A menor distância do indivíduo 12 foi 295686
A menor distância do indivíduo 13 foi 295496
A menor distância do indivíduo 14 foi 110764
A menor distância do indivíduo 15 foi 115912
A menor distância do indivíduo 16 foi 295227
A menor distância do indivíduo 17 foi 292156
A menor distância do indivíduo 18 foi 115972
A menor distância do indivíduo 19 foi 115912
A menor distância do indivíduo 20 foi 295644
A menor distância do indivíduo 21 foi 115972
A menor distância do indivíduo 22 foi 272472
A menor distância do indivíduo 23 foi 292291
A menor distância do indivíduo 24 foi 112695
A menor distância do indivíduo 25 foi 116944
A menor distância do indivíduo 26 foi 230363
A menor distância do indivíduo 27 foi 115972
A menor distância do indivíduo 28 foi 244088
A menor distância do indivíduo 29 foi 295365
A menor distância do indivíduo 30 foi 230363
A menor distância do indivíduo 31 foi 294785
A menor distância do indivíduo 32 foi 113727
A menor distância do indivíduo 33 foi 243566
A menor distância do indivíduo 34 foi 115708
A menor distância do indivíduo 35 foi 295061
A menor distância do indivíduo 36 foi 113727
A menor distância do indivíduo 37 foi 115972
A menor distância do indivíduo 38 foi 295496
A menor distância do indivíduo 39 foi 115972
A menor distância do indivíduo 40 foi 295686
A menor distância do indivíduo 41 foi 244159
A menor distância do indivíduo 42 foi 115972
A menor distância do indivíduo 43 foi 295644
A menor distância do indivíduo 44 foi 295644
A menor distância do indivíduo 45 foi 230488
A menor distância do indivíduo 46 foi 115972
A menor distância do indivíduo 47 foi 243870
A menor distância do indivíduo 48 foi 295092
A menor distância do indivíduo 49 foi 110704
A menor distância do indivíduo 50 foi 115972
A menor distância do indivíduo 51 foi 115972
A menor distância do indivíduo 52 foi 293600
A menor distância do indivíduo 53 foi 287382
A menor distância do indivíduo 54 foi 243858
A menor distância do indivíduo 55 foi 272590
A menor distância do indivíduo 56 foi 255491
A menor distância do indivíduo 57 foi 295188
A menor distância do indivíduo 58 foi 295644
A menor distância do indivíduo 59 foi 342645
A menor distância do indivíduo 60 foi 272590
A menor distância do indivíduo 61 foi 244591
A menor distância do indivíduo 62 foi 110764
A menor distância do indivíduo 63 foi 277680
A menor distância do indivíduo 64 foi 272472
A menor distância do indivíduo 65 foi 243566
A menor distância do indivíduo 66 foi 230459
A menor distância do indivíduo 67 foi 115876
A menor distância do indivíduo 68 foi 243049
A menor distância do indivíduo 69 foi 293600
A menor distância do indivíduo 70 foi 295644
A menor distância do indivíduo 71 foi 113727
A menor distância do indivíduo 72 foi 115972
A menor distância do indivíduo 73 foi 115972
A menor distância do indivíduo 74 foi 230363
A menor distância do indivíduo 75 foi 295496
A menor distância do indivíduo 76 foi 115972
A menor distância do indivíduo 77 foi 113727
A menor distância do indivíduo 78 foi 206353
A menor distância do indivíduo 79 foi 243128
A menor distância do indivíduo 80 foi 243878
A menor distância do indivíduo 81 foi 121899
A menor distância do indivíduo 82 foi 295686
A menor distância do indivíduo 83 foi 28849
A menor distância do indivíduo 84 foi 243878
A menor distância do indivíduo 85 foi 351568
A menor distância do indivíduo 86 foi 115972
A menor distância do indivíduo 87 foi 295188
A menor distância do indivíduo 88 foi 115972
A menor distância do indivíduo 89 foi 321598
A menor distância do indivíduo 90 foi 287382
A menor distância do indivíduo 91 foi 244167
A menor distância do indivíduo 92 foi 243566
A menor distância do indivíduo 93 foi 113727
A menor distância do indivíduo 94 foi 295688
A menor distância do indivíduo 95 foi 244265
A menor distância do indivíduo 96 foi 115972
A menor distância do indivíduo 97 foi 115972
A menor distância do indivíduo 98 foi 293600
A menor distância do indivíduo 99 foi 295496
Análise dos valores internos do dataset
Média:213315.23
Desvio padrão:82440.06254326292
Moda:115972
Mediana:243864.0
Máximo:28849
Minimo:351568